*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg,#474747,#FFD700);
  background-attachment: fixed;
}
p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.homePageHeader p{
  color: white;
  font-family:"Inter", sans-serif;
  font-weight: bolder;
  font-size: x-large;
  padding-left: 15px;
}
.nav-item a{
  color: white;
  margin-top: -3em;
  font-family: "Inter", sans-serif;
}
.navbar a:hover {  /* hover effect*/
background-color: #575757;
border-radius: 5px;
color: white;
transition: 0.5s;
}
.teamTitle{
  font-size: 2.5em;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.title {
  font-size: 3.5em;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.navIcon{ 
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 10px;
  right: 5px;
}
.trophyTitle{
  font-size: 2em;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.Text{
  margin-left: 125px;
  border: 2px solid #000000; /* Adds a red border */
  padding: 20px;            /* Adds spacing inside the box */
  background-color: #f9f9f9; /* Light gray background for contrast */
  border-radius: 10px;      /* Rounds the corners of the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
}
.Text p{
  color:black;
  line-height: 2.5em;
  font-size: 1.2em;
}

.individual{
  padding-right: 100px;
}

